<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atwenli.gmall.dao.PaymentInfoMapper" >
  <resultMap id="BaseResultMap" type="com.atwenli.gmall.bean.PaymentInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_sn" property="orderSn" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="alipay_trade_no" property="alipayTradeNo" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="payment_status" property="paymentStatus" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="confirm_time" property="confirmTime" jdbcType="TIMESTAMP" />
    <result column="callback_content" property="callbackContent" jdbcType="VARCHAR" />
    <result column="callback_time" property="callbackTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_sn, order_id, alipay_trade_no, total_amount, subject, payment_status, create_time, 
    confirm_time, callback_content, callback_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from payment_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from payment_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.atwenli.gmall.bean.PaymentInfo" >
    insert into payment_info (id, order_sn, order_id, 
      alipay_trade_no, total_amount, subject, 
      payment_status, create_time, confirm_time, 
      callback_content, callback_time)
    values (#{id,jdbcType=BIGINT}, #{orderSn,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{alipayTradeNo,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DECIMAL}, #{subject,jdbcType=VARCHAR}, 
      #{paymentStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{confirmTime,jdbcType=TIMESTAMP}, 
      #{callbackContent,jdbcType=VARCHAR}, #{callbackTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.atwenli.gmall.bean.PaymentInfo" >
    insert into payment_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderSn != null" >
        order_sn,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="alipayTradeNo != null" >
        alipay_trade_no,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="paymentStatus != null" >
        payment_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="confirmTime != null" >
        confirm_time,
      </if>
      <if test="callbackContent != null" >
        callback_content,
      </if>
      <if test="callbackTime != null" >
        callback_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderSn != null" >
        #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="alipayTradeNo != null" >
        #{alipayTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="paymentStatus != null" >
        #{paymentStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmTime != null" >
        #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callbackContent != null" >
        #{callbackContent,jdbcType=VARCHAR},
      </if>
      <if test="callbackTime != null" >
        #{callbackTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atwenli.gmall.bean.PaymentInfo" >
    update payment_info
    <set >
      <if test="orderSn != null" >
        order_sn = #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="alipayTradeNo != null" >
        alipay_trade_no = #{alipayTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="paymentStatus != null" >
        payment_status = #{paymentStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmTime != null" >
        confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callbackContent != null" >
        callback_content = #{callbackContent,jdbcType=VARCHAR},
      </if>
      <if test="callbackTime != null" >
        callback_time = #{callbackTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atwenli.gmall.bean.PaymentInfo" >
    update payment_info
    set order_sn = #{orderSn,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      alipay_trade_no = #{alipayTradeNo,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      subject = #{subject,jdbcType=VARCHAR},
      payment_status = #{paymentStatus,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
      callback_content = #{callbackContent,jdbcType=VARCHAR},
      callback_time = #{callbackTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>