<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atwenli.gmall.dao.PmsSkuSaleAttrValueMapper" >
  <resultMap id="BaseResultMap" type="com.atwenli.gmall.bean.PmsSkuSaleAttrValue" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sku_id" property="skuId" jdbcType="BIGINT" />
    <result column="sale_attr_id" property="saleAttrId" jdbcType="BIGINT" />
    <result column="sale_attr_value_id" property="saleAttrValueId" jdbcType="BIGINT" />
    <result column="sale_attr_name" property="saleAttrName" jdbcType="VARCHAR" />
    <result column="sale_attr_value_name" property="saleAttrValueName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sku_id, sale_attr_id, sale_attr_value_id, sale_attr_name, sale_attr_value_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pms_sku_sale_attr_value
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pms_sku_sale_attr_value
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.atwenli.gmall.bean.PmsSkuSaleAttrValue" >
    insert into pms_sku_sale_attr_value (id, sku_id, sale_attr_id, 
      sale_attr_value_id, sale_attr_name, sale_attr_value_name
      )
    values (#{id,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, #{saleAttrId,jdbcType=BIGINT}, 
      #{saleAttrValueId,jdbcType=BIGINT}, #{saleAttrName,jdbcType=VARCHAR}, #{saleAttrValueName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.atwenli.gmall.bean.PmsSkuSaleAttrValue" >
    insert into pms_sku_sale_attr_value
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="saleAttrId != null" >
        sale_attr_id,
      </if>
      <if test="saleAttrValueId != null" >
        sale_attr_value_id,
      </if>
      <if test="saleAttrName != null" >
        sale_attr_name,
      </if>
      <if test="saleAttrValueName != null" >
        sale_attr_value_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="saleAttrId != null" >
        #{saleAttrId,jdbcType=BIGINT},
      </if>
      <if test="saleAttrValueId != null" >
        #{saleAttrValueId,jdbcType=BIGINT},
      </if>
      <if test="saleAttrName != null" >
        #{saleAttrName,jdbcType=VARCHAR},
      </if>
      <if test="saleAttrValueName != null" >
        #{saleAttrValueName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atwenli.gmall.bean.PmsSkuSaleAttrValue" >
    update pms_sku_sale_attr_value
    <set >
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="saleAttrId != null" >
        sale_attr_id = #{saleAttrId,jdbcType=BIGINT},
      </if>
      <if test="saleAttrValueId != null" >
        sale_attr_value_id = #{saleAttrValueId,jdbcType=BIGINT},
      </if>
      <if test="saleAttrName != null" >
        sale_attr_name = #{saleAttrName,jdbcType=VARCHAR},
      </if>
      <if test="saleAttrValueName != null" >
        sale_attr_value_name = #{saleAttrValueName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atwenli.gmall.bean.PmsSkuSaleAttrValue" >
    update pms_sku_sale_attr_value
    set sku_id = #{skuId,jdbcType=BIGINT},
      sale_attr_id = #{saleAttrId,jdbcType=BIGINT},
      sale_attr_value_id = #{saleAttrValueId,jdbcType=BIGINT},
      sale_attr_name = #{saleAttrName,jdbcType=VARCHAR},
      sale_attr_value_name = #{saleAttrValueName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>